snippet imr "Import React"
import React from 'react'
endsnippet

snippet imsty "Import Styled Components"
import styled from 'styled-components'
endsnippet

snippet styled "New Styled Component"
const $1 = styled.$2\`
$0
\`
endsnippet
