snippet imr "Import React default"
import React from 'react'
endsnippet

snippet irs "Import React and useState" b
import React,{ useState } from 'react'
endsnippet

snippet irse "Import React, useState and useEffect" b
import React,{ useState, useEffect } from 'react'
endsnippet

snippet confu "New React Functional Component"
const $1 = ($2) =>{
	return(
		$0
	)
}
endsnippet
